<form class="form-horizontal" autocomplete="off" #createArticleModal="ngForm" (ngSubmit)="save()">

    <abp-modal-header [title]="'Edit Article' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="description">
                {{ "Description" | localize }}
            </label>
            <div class="col-md-9">
                <input type="text" class="form-control" name="name" id="name" required maxlength="32"
                    [(ngModel)]="article.description" #descriptionModel="ngModel" #descriptionEl />
                <abp-validation-summary [control]="descriptionModel" [controlEl]="descriptionEl">
                </abp-validation-summary>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="purchasePrice"> {{ "Purchase Price " | localize }}</label>
                    <input type="number" class="form-control" name="purchasePrice" id="purchasePrice" required
                        maxlength="32" [(ngModel)]="article.purchasePrice" #purchasePriceModel="ngModel"
                        #purchasePriceEl />
                    <abp-validation-summary [control]="purchasePriceModel" [controlEl]="salePrice1El">
                    </abp-validation-summary>
                </div>
                <div class="col">
                    <label for="tax"> {{ "Tax" | localize }} </label>
                    <input type="number" class="form-control" name="tax" id="tax" required maxlength="32"
                        [(ngModel)]="article.tax" #taxModel="ngModel" #taxEl />
                    <abp-validation-summary [control]="taxModel" [controlEl]="taxEl">
                    </abp-validation-summary>
                </div>

            </div>
        </div>

        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="purchasePrice">
                {{ "Stock Min" | localize }}
            </label>
            <div class="col-md-9">
                <input type="number" class="form-control" name="stockMin" id="stockMin" required maxlength="32"
                    [(ngModel)]="article.stockMin" #stockMinModel="ngModel" #stockMinEl />
                <abp-validation-summary [control]="stockMinModel" [controlEl]="stockMinEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="purchasePrice">
                {{ "Stock Max" | localize }}
            </label>
            <div class="col-md-9">
                <input type="number" class="form-control" name="stockMax" id="stockMax" required maxlength="32"
                    [(ngModel)]="article.stockMax" #stockMaxModel="ngModel" #stockMaxEl />
                <abp-validation-summary [control]="stockMaxModel" [controlEl]="stockMaxEl">
                </abp-validation-summary>
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="purchasePrice">
                {{ "Article Type" | localize }}
            </label>
            <div class="col-md-9">
                <input type="number" class="form-control" name="articletype" id="stockMax" required maxlength="32"
                    [(ngModel)]="article.articleType.id" #articletypeModel="ngModel" #articletypeEl />
                <abp-validation-summary [control]="articletypeModel" [controlEl]="articletypeEl">
                </abp-validation-summary>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="salePrice1"> {{ "Sale Price 1" | localize }}</label>
                    <input type="number" class="form-control" name="salePrice1" id="salePrice1" required maxlength="32"
                        [(ngModel)]="article.salePrice1" #salePrice1Model="ngModel" #salePrice1El />
                    <abp-validation-summary [control]="salePrice1Model" [controlEl]="salePrice1El">
                    </abp-validation-summary>
                </div>
                <div class="col">
                    <label for="salePrice2"> {{ "Sale Price 2" | localize }} </label>
                    <input type="number" class="form-control" name="salePrice2" id="salePrice2" required maxlength="32"
                        [(ngModel)]="article.salePrice2" #salePrice2Model="ngModel" #salePrice2El />
                    <abp-validation-summary [control]="salePrice2Model" [controlEl]="salePrice2El">
                    </abp-validation-summary>
                </div>
                <div class="col">
                    <label for="salePrice3"> {{ "Sale Price 3" | localize }} </label>
                    <input type="number" class="form-control" name="salePrice3" id="salePrice3" required maxlength="32"
                        [(ngModel)]="article.salePrice3" #salePrice3Model="ngModel" #salePrice3El />
                    <abp-validation-summary [control]="salePrice3Model" [controlEl]="salePrice3El">
                    </abp-validation-summary>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col">
                    <label for="observations"> {{ "Observations " | localize }}</label>
                    <textarea class="form-control" name="observations" id="observations" [(ngModel)]="article.observations" #observationsModel="ngModel"
                    #observationsEl ></textarea>
 
                    <abp-validation-summary [control]="observationsModel" [controlEl]="observationsEl">
                    </abp-validation-summary>
                </div>
            </div>
        </div>
 


    </div>
    <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createArticleModal.form.valid || saving"
        (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>